@model KariyerYonetimi.Models.SirketBilgisi

<h1>Biz Kimiz?</h1>
<p>Bu proje, benim kariyer yönetimi alanında deneyim kazanmamı sağlayan bir platformdur.</p>

<hr>

<h3>Şirket Bilgileri</h3>
<p><strong>Şirket Adı: </strong> @Model.SirketAdi</p>
<p><strong>Sektörü : </strong>@Model.Sektor</p>
<p><strong>Kuruluş Yılı: </strong> @Model.KurulusYili</p>
<p><strong>Kaç Yıllık: </strong> @Model.KacYillik</p>
<p><strong>Personel Sayısı: </strong>@Model.PersonelSayisi</p>