@model List<KariyerYonetimi.Models.Personel>

<h1>Şirket Personel Listesi</h1>
<p>Aktif çalışanlarımızın listesi aşağıdadır:</p>

<a asp-controller="Home" asp-action="PersonelEkle" class="btn btn-primary mb-3">Yeni Personel Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad Soyad</th>
            <th>Unvan</th>
            <th>E-Posta</th>
            <th>Maaş</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>@personel.Id</td>
                <td>@personel.Ad @personel.Soyad</td>
                <td>@personel.Unvan</td>
                <td>@personel.Email</td>
                <td>@personel.Maas.ToString("C2")</td>
                <td>
                    <a asp-controller="Home" asp-action="PersonelDetay" asp-route-id="@personel.Id" class="btn btn-sm btn-info">Detay Gör</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Aylık Maaş Toplamı: @Model.Sum(p => p.Maas).ToString("C2")</h3>
